software/powermetering/build/
software/bootloader/build/
*.pyc
software/powermetering_segger.jdebug.user
software/powermetering/.mxproject
software/vscode_ws.code-workspace
software/powermetering/.vscode
